@page
@model IndexModel

<h1>Latest search results</h1>

@if (Model.HasDummyData)
{
	<div class="row">
		<div class="pull-right">
			<a href="/Auth/Logout" class="btn">Log out</a>
		</div>
	</div>
	<div class="row text-center">
		<ul>
			@foreach (var dummy in Model.DummyData)
			{
				@for (var i = 0; i < 10; i++)
				{
					<li class="list-item">
						<div class="thumbnail thumbnail-colors">
							<img src="http://www.omgubuntu.co.uk/wp-content/uploads/2016/01/emoji.jpg" />
							<p><strong>@Html.Raw(dummy.Content.SelectToken("$.name"))</strong></p>
							<p>@Html.Raw($"Found on page: {dummy.OnPage}")</p>
							<div class="row">
								<a class="btn" href="https://google.com">Visit</a>
								<a class="btn" href="https://google.com">Mark as read</a>
							</div>
						</div>
					</li>
				}
			}
		</ul>
	</div>
}
else
{
	<p>No results returned</p>
}
