@page "{NumberOfPages:int?}"
@model UpdateModel

<h1>Updating</h1>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script type="text/javascript" language="JavaScript">
		$(document).ready(function () {
			$.ajax({
				type: "GET",
				url: "/Update?handler=ContinuousPull",
				contentType: "application/json",
				dataType: "json",
				success: function (response) {
					alert(response);
					//window.location.replace("Index");
				},
				failure: function (response) {
					alert(response);
				}
			});
        });
	</script>
}